
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
    
        margin: 0;
       
        line-height: 1.6;
        color: #333;
    
}

header {
    background: #0056b3;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav {
    background: #0073e6;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 16px;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffcc00;
}
 

.title {
    margin-top: 80px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-top: 30px;

}
.teacher-card, .student-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background: white;
    margin-bottom:20px ;
}
.teacher-card {
    width: 300px;
    height: 450px;
    background: #0073e6;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.student-card {
    width: 200px;
    height: 300px;
}
.card-image {
    width: 200px;
    height: 250px;
    background: gray;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-image1{
    width: 250px;
    height: 300px;
    background: gray;
    border-radius: 10px;
    margin-bottom: 10px;
}


.footer {
    background: #0056b3;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    /* width: 100%; */
    position: relative;
}


.footer p {
    margin: 0;
}
/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    nav a {
        margin: 0.5rem 0;
    }
}